.main {
  min-height: 100vh;
}

.layout {
  flex-direction: row;
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding-top: 8px;
}
:global(.bp4-dark) .wrapper {
  background-color: #404854;
}
.wrapper {
  background-color: #f6f7f9;
}
