.buttongroup {
  margin-bottom: 1rem;
  flex-direction: row;
}

@media screen and (max-width: 530px) {
  .buttongroup {
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (max-width: 900px) {
  .chatcode {
    display: none;
  }
}

.optimizerButton {
  display: flex;
  margin: 0 1rem;
  white-space: nowrap;
}

.discretizeLogo {
  margin-top: -2px;
  margin-right: 0.4rem;
}

.chatcode {
  font-size: 0.6rem;
}
